[buildout]
parts = erpblok sphinx
versions = versions

extensions = gp.vcsdevelop
vcs-extend-develop = hg+http://bitbucket.org/jssuzanne/erpblok#egg=erpblok
vcs-update = true

[erpblok]
recipe = zc.recipe.egg
eggs = erpblok
       anyblok
       anyblok_pyramid
       psycopg2
       flake8
       coverage
       nose

interpreter = python

[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/erpblok/doc
build = ${buildout:directory}/erpblok/doc/_build
eggs = erpblok
       anyblok_pyramid
       WebTest

[static-analysis]
recipe = zc.recipe.egg
eggs = flake8

[versions]
