[buildout]
parts = erpblok sphinx
versions = versions

extensions = gp.vcsdevelop
vcs-extend-develop = git+http://github.com/jssuzanne/ERPBlok#egg=erpblok
vcs-update = true

[erpblok]
recipe = zc.recipe.egg
eggs = erpblok
       anyblok
       anyblok_pyramid
       WebTest
       psycopg2
       flake8
       coverage
       nose
       gunicorn
       passlib

interpreter = python

[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/erpblok/doc
build = ${buildout:directory}/erpblok/doc/_build
eggs = erpblok
       anyblok
       anyblok_pyramid
       WebTest
       sphinx_bootstrap_theme

[static-analysis]
recipe = zc.recipe.egg
eggs = flake8

[versions]
